body, h1, h2, h3, h4, h5 {
    /*font-family: 'Fahkwang';*/
    /*font-family: 'Fira Sans';*/
    /*font-family: 'Lato';*/
    font-family: 'Montserrat';
    /*font-family: 'Roboto';*/
    /*font-family: 'Work Sans';*/
    color: #121212;
    /*font-weight: 100;*/
    /*font-weight: 200;*/
    /*font-weight: 300;*/
    font-weight: 400;
    /*font-weight: 500;*/
    /*font-weight: 600;*/
}
.vis-item .vis-item-overflow {
    overflow: visible;
}
.browsers-item-education-secondary {
    background-color: lightblue;
    border-color: lightblue;
}
.browsers-item-education-secondary .vis-item-content {
}
.browsers-item-education-upper {
    background-color: lightskyblue;
    border-color: lightskyblue;
}
.browsers-item-training {
    background-color: steelblue;
    border-color:steelblue;
    color:#222;
}
.browsers-item-experience-full-time {
    background-color: lightgreen;
    border-color: lightgreen;
}
.browsers-item-experience-part-time {
    background-color: seagreen;
    border-color: seagreen;
    color:#eee;
}
.browsers-item-experience-part-time a, .browsers-item-experience-part-time a:visited {
    color:#efefef;
}
.legend p {
    padding: 0.4em;
    width: 15em;
}
a, a:visited {
    color:#222;
    text-decoration: underline;
}
a:hover {

}